/* love match div */
.subtitleContainers{
    display: inline-block;
    width: 33%;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.matchContainers {
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title {
    text-align: center;
}

.img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 3px black;
    margin: 3px;
}

/* Love Calculator div */
#loveCalculatorEvent {
    text-align: center;
}

#loveCalculator {
    width: 50%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#calculateResult {
    display: flex;
    clear: both;
    justify-content: center;
    font-size: 40px;
}


#heartImg {
    width: 40px;
    height: 40px;
}

#checkBtn{
    width: 100px;
    display: block;
    margin: auto;
    height: 40px;
}

.inputLayout {
    margin: 20px;
    font-size: 20px;
    text-align: center;
    height: 30px;
}

/* weather div */
