/* love match div */
.cardContainer {
    position: relative;
    width: 49%;
    height: 400px;
    min-width: 300px;
    min-height: 400px;
    margin: 4px;
    perspective: 1000px; 
    float: left;
}

.active {
    transform: translateZ(0px) rotateY(180deg) !important; 
}

.active:after {
     display: none; 
}

.card {
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1); 
}

.card:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 14px 50px -4px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1.4); 
}

.card:hover {
    transform: translateZ(0px); 
}

.card:hover:after {
    opacity: 1; 
}

.card .side {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: white; 
}

 .card .front {
    z-index: 2; 
}

 .card .back {
   transform: rotateY(180deg); 
}

.card .info {
    position: relative;
   padding: 16px;
   height: 100%;
   text-align: center;
}

.front {
    background: -moz-radial-gradient(#FFF, #FFC778 40%, #F13F79);
    background: -webkit-radial-gradient(#FFF, #FFC778 40%, #F13F79);
    background: radial-gradient(#FFF, #FFC778 40%, #F13F79); 
    background-position: center;
    background-size: cover;
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 250px; 
}

.cardTitle {
    font-size: 3.5rem;
    font-family: Garamond;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cardSubTitle {
    font-size: 1.5rem;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
}

.matchContainers {
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.matchTitle {
    margin-bottom: 30px;
}

.img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 3px black;
    margin: 3px;
    margin-bottom: 30px;
}

.zodiac {
    font-size: 2em;
    font-weight: bold;
    color: #FF5722;
}

/* Weather node */
#luckyTime {
    font-size: 2.4rem;
    padding: 10px;
    color: rgb(238, 57, 184);
    font-weight: bold;
    border-bottom: 1px solid black;
}

#weatherContainer {
    position: relative;
}

#rightside {
    float: right;
    width: 50%;
}

#leftside {
    float: left;
    border-right: 1px solid black;
    width: 50%;
}

#weatherLocation {
    font-size: 2.4rem;
    margin: 50px 0 30px 0;
}

#description {
    font-size: 2.4rem;
}

#temperature {
    font-size: 5rem;
    margin: 30px 0 30px 0;
}

#feelslike {
    font-size: 2rem;
}

.luckyNumberContainer{
    margin: 15px;
    font-size: 1.4em;
}

#jokeTitle {
    margin-top: 60px;
}

/* Love Calculator div */
#calculateResult {
    justify-content: center;
    font-size: 40px;
}

#heartImg {
    width: 40px;
    height: 40px;
}

#checkBtn{
    width: 100px;
    display: block;
    margin: auto;
    height: 40px;
}

.inputLayout {
    margin: 20px;
    font-size: 20px;
    text-align: center;
    height: 30px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    box-sizing: border-box;
    border-bottom: 3px solid black;
    background: transparent;
}
.inputLayout::placeholder {
    color: black;
}

#comment {
    font-size: 2em;
}

#checkBtn {
    width: 150px;
    height: 40px;
    margin-top: 10px;
    font-size: 1.3em;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #5E35B1;
    border: solid 2px #5E35B1;
    border-radius: 3px;
    background: transparent;
}

#checkBtn:hover {
    background: #5E35B1;
    color: white;
}